/* src/styles.css */

/* Apply to the whole app */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Ensure Material components use the font */
.mat-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
